<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin.css">
</head>
<body>
<h1>Welcome to Admin Console!</h1>
<br>
<div class="menu">
    <div>
        <div>Countries</div>
        <a href="admin/countries">
            <img src="icons/countries.png" width="100">
        </a>
    </div>
    <div>
        <div>Factories</div>
        <a href="admin/factories">
            <img src="icons/factory.png" width="100">
        </a>
    </div>
    <div>
        <div>Stars/Producers</div>
        <a href="admin/mans">
            <img src="icons/stars.png" width="100">
        </a>
    </div>
    <div>
        <div>Films</div>
        <a href="admin/films">
            <img src="icons/films.png" width="100">
        </a>
    </div>
</div>
</body>
</html>