<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link rel="stylesheet" href="../admin.css">
</head>
<body>
<h1 style="text-align: center">List of Countries</h1>
<br>

<table>
    <tr>
        <th>Country</th>
        <th></th>
        <th></th>
    <tr>
    <tr th:each="country : ${countries}">
        <td th:text="${country.name}"/>
        <td class="edit">
            <a th:href="'countries/' + ${country.id} + '/edit'">&#9998;</a>
        </td>
        <td class="delete">
            <a th:href="'countries/' + ${country.id} + '/delete'">&#10008;</a>
        </td>
    <tr>
</table>

<br>

<div style="text-align: center">
    <button style="width: 100px;height: 60px" onclick="window.location.href='countries/add';">
        Add new
    </button>
</div>

</body>
</html>